<h4>Search results</h4>
<div id="results">
{{#each searchResults}}
    <div class="panel large-12 columns">
        <h5>{{name }}</h5>
        <h6>{{description}}</h6>
        <a href="#" class="like button tiny right">Like</a>
    </div>
{{/each}}
</div>